@media only screen and (min-width: 768px) {
   body {
            background-color: #191765;
        }
    
    nav {
        
        display: flex;
        justify-content: space-between;
        flex-direction: row;
       
    }

    .dev-name {
        margin-left: 180px;
        color: white;
            font-size: 18px;
            font-family: "Roboto", sans-serif;
            font-style: normal;
                font-weight: 500;
    }

    .menu-list {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        list-style-type: none;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: white;
        gap: 50px;
    }

    .union {
        margin-right: 100px;
    }

    .menu {
        display: none;
    }

    .main-header,
    article {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .main-header {
        font-family: "Roboto", sans-serif;
        color: #7c73fc;
        font-size: 64px;
        font-weight: 700;
        margin-left: 15px;
        margin-right: 15px;
    }

    article {
        font-family: "Roboto", sans-serif;
        color: #ecebff;
        font-size: 36px;
        margin-top: -110px;
        font-weight: 400;
        margin-left: 5px;
        margin-right: 5px;
    }

    .intro-text {
        font-size: 20px;
        display: block;
        margin: auto;
        text-align: center;
        color: #c9c9d4;
        font-family: "Roboto", sans-serif;
        margin-top: 40px;
        width: 447px;
        height: 155px;
    }


 .lang-titles {
    color: #938fff;
    display: flex;
   align-items: center;
    font-size: 18px;
    list-style-type: none;
    font-weight: 500;
    margin-top: 30px; 
    margin-left: 440px;
    margin-right: 480px;

                                
    }
        
.skills {
    color: #f5f5ff;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: -20px;
    list-style-type: none;
    margin-left: 530px;
        margin-right: 500px;
        
}
        
.list-one {
    list-style-type: none;
}

.contacts {
    display: flex;
    align-items: center;
    margin-top: 95px;
    margin-left: 540px;
        margin-right: 500px;
}

.works {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    color: #a2a3ae;
    margin-top: -28px;
        margin-left: -980px;
}

.works-2{
    display: block;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 20px;
        margin-top: -40px;
        margin-right: 220px;
        text-align: right;
        color: #a2a3ae;
}

.desktop-head {
    display: block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 54px;
    font-weight: 700;
    color: #9490ff;
    margin-left: 185px;
    margin-right: 65px;
    margin-top: 90px;
  
}

.mobile-head{
    display: none;

}

.line-mobile {
    display: none;
}

.line-desktop{
    display: block;
    margin-left: 175px;
    margin-right: 155px;
    margin-top: -10px;
}
.line-1 {
    display: block;
    margin-left: 550px;
    margin-right: 550px;
    
    margin-top: 40px;
}

.line-2 {
    display: block;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 20px;
}

.project-1 {
   position: relative;
}

.sample-1 {
    width: 684px;
    height: 448px;
    position: absolute;
    left: 160px;
    right: 20px;
    top: 30px;
  
}

.title-1{
    color: white;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-left: 400px;
    margin-top: 60px;
}

.text-1 {
    font-family: "Inter", sans-serif;
    color: #dcdce8;
    font-size: 18px;
    position: absolute;
    margin-top: 100px;
    left: 860px;
        right: 140px;
        top: 30px;
 
}

.lang-1 {
    display: grid;
    position: absolute;
    left: 790px;
    margin-top: 160px;
    gap: 30px;
   
 
}

.css {
    grid-column: 1 / 1;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
   
}

.liner {
    grid-column: 2 / 2;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
    list-style-type: none;
}

.html {
    grid-column: 3 / 3;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.liner-2 {
    grid-column: 4 / 4;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
    list-style-type: none;
}

.boot {
    grid-column: 5 / 5;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.liner-3 {
    grid-column: 6 / 6;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
    list-style-type: none;
}

.ruby {
    grid-column: 7 / 7;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.see-1 {
    background: #7d73fc;
    width: 85px;
    height: 45px;
    color: #edecff;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    padding: 10px;
    left: 870px;
    margin-top: 255px;
    border-color: #7d73fc;
}
.project-2 {
    margin-top: 480px;
    position: relative;
}

.sample-2 {
    width: 684px;
    height: 448px;
    position: absolute;
    right: 60px;
    left: 800px;
    top: 30px;

}

.title-2 {
    color: white;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-right: 400px;
    margin-left: -640px;
}

.text-2 {
    font-family: "Inter", sans-serif;
    color: #dcdce8;
    font-size: 18px;
    position: absolute;
    margin-top: 75px;
    right: 810px;
    left: 135px;
    top: 20px;

}

.lang-2 {
    display: grid;
    position: absolute;   
    left: 80px;
    gap: 30px;
    margin-top: 150px;
}

.css {
    grid-column: 1 / 1;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
    margin-left: 65px;
}

.liner {
    grid-column: 2 / 2;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
    list-style-type: none;
}

.html {
    grid-column: 3 / 3;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.liner-2 {
    grid-column: 4 / 4;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
    list-style-type: none;
}

.boot {
    grid-column: 5 / 5;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.liner-3 {
    grid-column: 6 / 6;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 200;
    list-style-type: none;
}

.ruby {
    grid-column: 7 / 7;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 14px;
    list-style-type: none;
}

.see-2 {
    background: #7d73fc;
    width: 85px;
    height: 45px;
    color: #edecff;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    position: absolute;
    padding: 10px;
    left: 890px;
    margin-top: -65px;
    border-color: #7d73fc;
}

.project-3{
    margin-top: 900px;
}

}
