body {
  max-width: 600px;
  background-color: #161761;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto; 
}

header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 34px;
  font-weight: 300;
  color: #9490ff;
  margin-left: 25px;
  margin-right: 15px;    
}

.line {
  display: block;
  width: 390px;
  margin-top: -40px;
  margin-left: 25px;
  margin-right: 10px;
}

.project {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;  
}

.sample {
  width: 360px;
  height: 195px; 
}

.title {
  color: white;
  font-size: 24px;
  font-family: 'Roboto',sans-serif;
  margin-left: -170px;
}

.text {
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
  font-size: 18px;
  margin: 5px 18px 0px 30px;
}

.lang {
  display: grid;
  margin-top: 30px;
}

.css {
  margin-left: 30px;
  grid-column: 1 / 1;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
}

.liner {
  grid-column: 2 / 2;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100;
}

.html {
  grid-column: 3 / 3;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
}

.liner-2 {
  grid-column: 4 / 4;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100;
}

.boot {
  grid-column: 5 / 5;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
}

.liner-3 {
  grid-column: 6 / 6;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100;
}

.ruby {
  grid-column: 7 / 7;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
}

.see {
  background: #7d73fc;
  width: 85px;
  height: 45px;
  color: #edecff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
  margin-top: 30px;
  padding: 10px;
  border-color: #7d73fc;
}


.about-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 34px;
  font-weight: 300;
  color: #9490ff;
  margin-left: 25px;
  margin-right: 15px;
}

.line-2 {
  display: block;
  width: 390px;
  margin-top: -15px;
  margin-left: 25px;
  margin-right: 10px;
}

.about-text {
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
  font-size: 18px;
  margin: 15px 18px 0px 30px;
}

.details {
  margin: 35px 18px 0px 30px;
}

.connect {
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
  font-size: 18px;      
}

.resume {
  background: #7d73fc;
  width: 185px;
  height: 65px;
  color: #edecff;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin-left: 30px;
  margin-top: 30px;
  padding: 10px;
  border-color: #7d73fc;
  border-radius: 5px;
}

.line-about {
  display: block;
  width: 390px;
  margin-top: 15px;
  margin-left: 25px;
}

.titles {
  display: grid;
  margin-top: 20px
}

.skill-one {
  margin-left: 30px;
  grid-column: 1 / 1;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
}

.skill-two {
  grid-column: 2 / 2;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
}

.skill-three {
  grid-column: 3 / 3;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  margin-left: 8px;
  margin-right: 10px;
  margin-top: -10px;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: #dcdce8;
  font-size: 14px;
}

.line-bottom {
  display: block;
  width: 390px;
  margin-top: 15px;
  margin-left: 25px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 15px;
  margin-left: -35px;  
}

.linked {
  height: 30px;
}

.email {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  margin-left: 20px;
  margin-right: 10px;
}