label {
  display: none;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #191765;
}

.menu-list {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #191765;
  color: white;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hamburger {
  position: absolute;
  width: 35.33px;
  height: 22.83px;
  margin-left: 350px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-item {
  font-family: "Roboto", sans-serif;
  margin-top: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.arrow {
  margin-left: 230px;
}

.arrow-2 {
  margin-left: 260px;
}

.arrow-3 {
  margin-left: 240px;
}

a {
  color: white;
  text-decoration: none;
}

.close,
.desktop-menu {
  display: none;
}

.show-menu {
  transform: translateY(0);
}

.union {
  display: none;
}

.circle {
  position: absolute;
  width: 160px;
  height: 160px;
  left: -96px;
  top: 89px;
  background: #edecff;
  filter: blur(50px);
}

.circle-2 {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 379px;
  top: 515px;
  background: #edecff;
  filter: blur(50px);
}

.dev-name {
  animation: animated-text 4s;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
  color: white;
}

.main-header,
article {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

h1:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}

.main-header {
  font-family: "Roboto", sans-serif;
  color: #7c73fc;
  font-size: 40px;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
}

article {
  font-family: "Roboto", sans-serif;
  color: #ecebff;
  font-size: 26px;
  margin-top: -60px;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
}

.intro-text {
  font-size: 17px;
  display: block;
  margin: auto;
  text-align: center;
  color: #c9c9d4;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}

.line-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: gray;
}

.line-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
}

.skill-1 {
  display: flex;
  flex-direction: column;
  height: 168px;
  width: 123px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white;
  gap: 12px;
  margin-left: 20px;
}

.skill-2 {
  display: flex;
  flex-direction: column;
  height: 214px;
  width: 153px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white;
  gap: 12px;
  margin-left: 180px;
  margin-top: -182px;
}

.skill-3 {
  display: flex;
  flex-direction: column;
  height: 224px;
  width: 122px;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white;
  gap: 14px;
  margin-left: 20px;
  margin-top: -50px;
}

.lang-titles {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #938fff;
  font-size: 18px;
  list-style-type: none;
  font-weight: 700;
  height: 16px;
  margin-top: 15px;
}

.skills {
  color: #f5f5ff;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 15px;
  margin-top: -20px;
  margin-left: -10px;
  list-style-type: none;
}

.list-one {
  list-style-type: none;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 90px;
  width: 200px;
}

.works {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  color: #a2a3ae;
}

.works-2 {
  display: none;
}

.mobile-head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 34px;
  font-weight: 300;
  color: #9490ff;
  margin-left: 25px;
  margin-right: 15px;
}

.desktop-head {
  display: none;
}

.line-mobile {
  display: block;
  margin-top: -20px;
  margin-left: 25px;
  margin-right: 10px;
}

.line-desktop {
  display: none;
}

.project-1,
.project-2,
.project-3,
.project-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
}

.sample-1,
.sample-2,
.sample-3,
.sample-4 {
  width: 360px;
  height: 195px;
  margin-left: 11px;
}

.title-1,
.title-2,
.title-3,
.title-4 {
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin-left: -145px;
}

.text-1,
.text-2,
.text-3,
.text-4 {
  font-family: "Inter", sans-serif;
  color: #dcdce8;
  font-size: 18px;
  margin: 5px 18px 1px 25px;
}

.lang-1,
.lang-2,
.lang-3,
.lang-4 {
  display: grid;
  margin-top: 30px;
}

.css {
  grid-column: 1 / 1;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
  list-style-type: none;
  margin-left: -13px;
}

.liner {
  grid-column: 2 / 2;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 200;
  list-style-type: none;
}

.html {
  grid-column: 3 / 3;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
  list-style-type: none;
}

.liner-2 {
  grid-column: 4 / 4;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 200;
  list-style-type: none;
}

.boot {
  grid-column: 5 / 5;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
  list-style-type: none;
}

.liner-3 {
  grid-column: 6 / 6;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 200;
  list-style-type: none;
}

.ruby {
  grid-column: 7 / 7;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 14px;
  list-style-type: none;
}

.see-1,
.see-2,
.see-3,
.see-4 {
  background: #7d73fc;
  width: 85px;
  height: 45px;
  color: #edecff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  margin-top: 30px;
  padding: 10px;
  border-color: #7d73fc;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-texts {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f5f5ff;
}

.contacts-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #9390ff;
  margin-top: 150px;
}

form {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
}

form > input {
  width: 367px;
  height: 48px;
  background: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin: 15px 20px 15px 20px;
}

.text-email {
  color: #191765;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

textarea {
  width: 367px;
  height: 148px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.text-desk,
.text-last,
.test-email-desk,
.mess-desk {
  display: none;
}

.submit-btn {
  display: block;
  margin: auto;
  background: #7d73fc;
  width: 85px;
  height: 45px;
  color: #edecff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  padding: 10px;
  border-color: #7d73fc;
}

.line-bottom {
  margin-top: 40px;
}

.email-mobile {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ebebff;
}

.shape {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  width: 200px;
}

.text-email-desk {
  display: none;
}

.desk-title {
  display: none;
}

.desktop-form {
  display: none;
}

.contacts-bottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 200px;
  align-items: center;
  margin-left: 110px;
  margin-top: 30px;
}

.email-desk {
  display: none;
}

.ellipse-1 {
  position: absolute;
  width: 39.61px;
  height: 482.57px;
  left: -62.04px;
  top: 1114.71px;
  background: #edecff;
  filter: blur(50px);
  transform: rotate(-36.38deg);
}

.ellipse-2 {
  position: absolute;
  width: 71px;
  height: 262px;
  left: 373.28px;
  top: 1857.74px;
  background: #edecff;
  filter: blur(50px);
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
}

.ellipse-3 {
  position: absolute;
  width: 108px;
  height: 155px;
  left: -11px;
  top: 2448px;
  background: #edecff;
  filter: blur(50px);
}

.ellipse-4 {
  position: absolute;
  width: 101.19px;
  height: 377.38px;
  left: 390.3px;
  top: 3104px;
  background: #edecff;
  filter: blur(50px);
  transform: matrix(-0.26, 0.97, 0.97, 0.26, 0, 0);
}

button:hover {
  background-color: #191765;
  transition: 0.5s;
}

input:hover {
  transform: scale(1) translate(0, -.5rem);
}

textarea:hover {
  transform: scale(1) translate(0, -.5rem);
}

@keyframes animated-text {
  from {
    transform: rotate(3.142rad);
  }

  to {
    transform: rotate(0rad);
  }
}

.sample-1:hover,
.sample-2:hover,
.sample-3:hover,
.sample-4:hover {
  transform: scale(0.9);
}

.lang-container {
  width: 303px;
  height: 214.15px;
}

.port-link:visited {
  color: white;
  text-decoration: none;
}

.desktop-button {
  display: none;
}

.mobile-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 2px;
  z-index: 10;
  background: #ffffff29;
  border: 1px solid #fff;
  box-shadow: 1px 48px 48px #252f8914;
}

.mobile-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.mobile-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 278px;
  height: 58px;
}

.mobile-modal-title {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 226px;
  height: 58px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.close-image {
  position: absolute;
  top: 25px;
  left: 90%;
  height: 20px;
  width: 20px;
  background: none;
  border: none;
  opacity: 1;
}

.mobile-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-modal-image {
  position: absolute;
  width: 279px;
  height: 181px;
  left: calc(50% - 279px / 2);
  top: 70px;
}

.mobile-modal-text {
  position: absolute;
  top: 250px;
  left: 50px;
  width: 279px;
  height: 289px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.mobile-modal-lang {
  position: absolute;
  top: 480px;
  left: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 245px;
  height: 41px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: #191765;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.live-button {
  position: absolute;
  top: 550px;
  left: 132px;
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 12px;
  width: 108px;
  height: 48px;
  background: #7d73fc;
  box-shadow: 1px 8px 16px #7d73fc7a;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.src-button {
  position: absolute;
  top: 610px;
  left: 127px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 124px;
  height: 48px;
  padding-top: 15px;
  color: white;
  background: #7d73fc;
  box-shadow: 1px 8px 16px #7d73fc7a;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.desktop-modal-image,
.desktop-modal-text,
.liner-4,
.github-text {
  display: none;
}

#nameError,
#emailError,
#messageError {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: red;
}
